*.class
*.jar
*.war
*.ear
**/target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.*
release.properties

.idea/
.idea/*
.vscode/
.vscode/*
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

*.log
*.log.*
logs/
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pid
*.tmp
*.bak
*.orig
.DS_Store
Thumbs.db

docker-compose.override.yml
**/.docker/
**/*.local.yml
pgdata/
dump.rdb
*.rdb
*.sqlite
/tmp/
/var/log/
/var/lib/

**/node_modules/
node_modules/
dist/
dist-ssr/
.cache/
coverage/
/cypress/videos/
/cypress/screenshots/

grafana-storage/

.env
