*.class
*.jar
*.war
*.ear
**/target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.*
release.properties

**/node_modules/
**/dist/
**/dist-ssr/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea/
.vscode/
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

*.log
*.log.*
logs/
**/logs/
*.pid
*.tmp
*.bak
*.orig

.DS_Store
Thumbs.db

docker-compose.override.yml
**/.docker/
**/*.local.yml
pgdata/
grafana-storage/

.env
.env.local
.env.*.local
!.env.example

**/build/
**/out/
**/.next/
**/.nuxt/
**/.temp/
**/.tmp/

**/remoteEntry.js
**/*.hot-update.*

dump.rdb
*.rdb
*.sqlite

*.swp
*.swo
*~

*.vue.ts
*.vue.tsx

/cypress/videos/
/cypress/screenshots/

*.local
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
